@use '../variables' as v;

:host {
  @include v.flex-with-grow();

  div {
    @include v.flex-with-grow();
  }
}
.mat-drawer-content {
  display: flex;
}
.mat-sidenav-container {
  @include v.flex-with-grow();
}

.mat-form-field {
  margin-right: 8px;
}

.main_content {
  @include v.flex-with-grow();
  //width: 100%;
 
  background: #efefef;
  //padding: 5px;
}
