

.filter-select {
    background-color: white;   
    color: black;
    border : 1px solid #666666;    
}

// .example-accordion-item-header {
//     display: flex;
//     align-content: center;
//     justify-content: space-between;
//   }